html, body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size:16px;
	overflow-x: hidden;
}

.nav{
	margin-top:100px;
    background-color: #ffffff;
    text-align: center;
}

.hamburger-btn{
	cursor: pointer;
    height: 60px;
    overflow: hidden;
    background: #ffffff;
    border: 2px solid #d44f4f;
}


.stick-one, .stick-two, .stick-three{
	height:5px;
	width:40px;
	display: block;
	background-color:#d44f4f;
	margin:4px;
	border-radius: 10px;
	transition: 1s cubic-bezier(0,0,.25,1);
	transform: translateY(0px); transform: rotate(0deg);
}


.start-animation-stick-one{
	animation: stickOne 1s forwards cubic-bezier(1,.5,.25,1);
}

.remove-animation-stick-one{
	animation: revStickOne 1s forwards cubic-bezier(1,.5,.25,1);
}

@keyframes stickOne{
	0%{ transform: translate(0px,0px) rotate(0deg);}
	50%{ transform: translate(0px,28px) rotate(0deg);}
	80%{ transform: translate(0px,-5px) rotate(0deg);}
	100%{transform: translate(0px,3px) rotate(-225deg);}
}

@keyframes revStickOne{
	0%{transform: translate(0px,3px) rotate(-225deg);}
	50%{ transform: translate(0px,28px) rotate(0deg);}
	100%{ transform: translate(0px,0px) rotate(0deg);}
}




.start-animation-stick-two{
	animation: stickTwo 1s forwards cubic-bezier(1,.5,.25,1);
}

.remove-animation-stick-two{
	animation: revStickTwo 1s forwards cubic-bezier(1,.5,.25,1);
}

@keyframes stickTwo{
	0%{transform: translate(0px, 0px) rotate(0deg);}
	50%{transform: translate(0px, -25px) rotate(0deg);}
	80%{transform: translate(0px, 0px) rotate(0deg);}
	100%{transform: translate(0px, -6px) rotate(225deg)};
}

@keyframes revStickTwo{
	0%{transform: translate(0px,-6px) rotate(225deg);}
	50%{ transform: translate(0px,-25px) rotate(0deg);}
	100%{ transform: translate(0px,0px) rotate(0deg);}
}



.start-animation-stick-three{
	animation: stickThree 1s forwards cubic-bezier(1,.5,.25,1);
}

.remove-animation-stick-three{
	animation: revStickThree 1s forwards cubic-bezier(1,.5,.25,1);
}

@keyframes stickThree{
	0%{transform: translate(0px, 0px);}
	50%{transform: translate(0px, -20px);}
	100%{transform: translate(0px, 10px);}
}

@keyframes revStickThree{
	0%{transform: translate(0px, 10px);}
	50%{transform: translate(0px, -20px);}
	100%{transform: translate(0px, 0px);}
}